body {
    background: var(--tg-theme-bg-color);
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#coinsLabel{    
    text-align: center;
    margin-top: 20px;
    color: white;
}

#energyLabel{
    text-align: center;
    margin-top: 55px;
    color: white;
}

#mainButtonBox{
    margin-top: 50px;
    position: relative;
    border-radius: 50%;
    width: 70vw;
    height: 70vw;
}

@keyframes upAndFadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-220px); /* Move up by 40px */
    opacity: 0; /* Fade out */
  }
}

#menu {
    padding-top: 5px;
    text-align: center;
    margin-top: 15px;
    width: 90%;
    margin-left: 5%;
    height: 50px;
    background: white;
    border-radius: 4px;
}

#friendsButton{
    padding-top: 5px;
    color:white;
    position: relative;
    margin: 0 auto;
    height: 40px;
    width: 60px;
    background-color: var(--tg-theme-bg-color);
    border-radius: 5px;
}
